:root {
  --background-color: #37384b;
}

html {
  font-size: 62.5%; /** 1REM = 10pX **/
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(/public/default.jpg);
  background-color: #37384b;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navBar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.navBar div {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.img-logo {
  height: 3.5rem;
  margin: 1rem 0;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
}

.menu-icon::before {
  content: '☰';
}

.nav-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
  padding: 1rem;
}

.nav-links.show {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin: 0.5rem 0;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

/* Responsive design */
.nav-right-links {
  display: none;
}
.btn{
  display:flex;
  align-items:baseline;
  background-color: #39e29d;
  border-radius: .5rem;
  padding: 1.2rem 1.4rem;
  justify-content: center;
  }
.button{
  color: #37384b;
  background-color: #39e29d;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
 
  border: none;
}

@media (min-width: 768px) {
  .navBar {
    flex-direction: column;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: transparent;
  }

  .nav-link {
    margin: 0 1rem;

  }

  .img-logo {
    height: 3.116rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .navBar {
    flex-direction: row;
    align-items: center;
  
    padding: 1rem 4rem;
  }
  .nav-link{
    padding: 0 2rem;
  }
  .img-logo {
    height: 3.116rem;
    margin: 0;
    border-right: .2rem solid white;
    padding: 0 4rem 0 1rem;
  }

  .nav-links {
    width: auto;
  }
  .nav-links-div{
    display: none;
  }

  .nav-right-links {
    padding-left: 20rem;
    display: flex; 
  }
  .container{
    padding-top: 11rem;
    margin: 0 auto;
  }
.container h1{
  margin-top: 0;
  color: white;
  font-size: 4rem;
  text-align: left;
}

}

/* Container */
.container{
  max-width: 120rem;
  margin: 0 auto;
}
.container h1{
  margin-top: 4rem;
  color: white;
  font-size: 2.6rem;
  
}

.item-container{
  background-color: var(--background-color);
  border: .1rem solid #5762d5;
  box-shadow: 2rem rgba(0, 0, 0, 0.685);

}

.nav-container{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.nav-container input {
  background-color: #4c608533;
  border: none;
  margin: 1rem;
  padding: 1.2rem 1.4rem;
  color: #fff;
}
.nav-container input::placeholder{
  text-transform:initial;
  color:hsla(0, 0%, 100%, .75);
}
.nav-container input:active{
  background-color: #4c6085d2;
}


@media (min-width: 1200px){ 
  .nav-container{
display: grid;
grid-template-columns: 300px 600px 150px 150px;  
margin-bottom: 1rem;  
}
  
}


/*ITEMS*/
.item-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:1rem 2rem;
  gap: 2rem;
  padding: 2rem 2rem;
}

@media (min-width: 768px){ 
  .item-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px){ 
 .item-container{
  grid-template-columns: repeat(5,1fr);
 } 
}
.item{
  background-color: #4c608526;
  display: grid;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  max-width: 20rem;
  height: 30rem;
  grid-template: "item-up item-up" 4rem / 1fr 1fr
                        "img img img" 5rem / 1fr 1fr 1fr 
                        "contenido" 4rem
                        "descripcion" 4rem
                        "boton boton" 5rem / 1fr 1fr;
                        
}
.sale span{
  color: #39e29d;
}
.stock{
  color: #39e29e93;
  text-transform: initial;
  font-size: 1rem;
  border: .1rem solid #39e29e93;
  padding :.3rem .4rem;
  border-radius: .5rem;
  text-align: center;
  font-weight: 200;
}

.item .box{
  margin:0;
}
.item .box:nth-child(1){
  grid-area: "item-up";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .box:nth-child(2){
  grid-area: "img";
}
.item .box:nth-child(3){
  grid-area: "contenido";
  margin: 0;
  margin-bottom: -1rem;
  text-transform: initial;
  font-weight: 500;
  letter-spacing: .05rem;
}
.price{
   text-decoration:line-through;
  text-decoration-color: #FF0000; 
  color: #ffffffa9;
  font-weight: 200;
  margin-left: .6rem;
  ;
}
.item .box:nth-child(4){
  grid-area: "descripcion";
  text-transform: initial;
  font-weight: 200;
  color: #ffffff8f;
  line-height: 1.5rem;
  font-size: 1rem;
}
.item.box:nth-child(5){
  grid-area: "boton";
  display: flex;
  justify-content: space-between;
  align-items: center

}
.item .box:nth-child(1) input[type="number"] {
  /* Reducir el tamaño */
  width: 5.5rem;
  height: 4rem;
  color: #fff;
  /* Estilos generales */
  padding:  1rem;
  border: none;
  border-radius: .5rem;
  background-color: #4c608533;
  /* Asegurar que los spinners estén siempre visibles */

}

.button-item{
  background-color: #5762d5;
  border:none;
  min-width: 7.4rem;
  color: #fff;
  border-radius: .5rem;
  padding: 1.2rem 1rem;
  text-transform: uppercase;
  margin: 0 .5rem;
}
.set-1{
  background-color: #4c608533;
  color: hsla(0, 0%, 100%, .75);
}
.set-2{
  margin: 0 .5rem;
}
.button-cart{
  background-color: #454da8;
  color:white;
  border: none;
  border-radius: .5rem;
}